snippet %
{% $1 %}
endsnippet

snippet h2
<h2>$1</h2>
endsnippet

snippet div.
<div class="$1">$2</div>
endsnippet

snippet div#
<div id="$1">$2</div>
endsnippet

snippet span.
<span class="$1">$2</span>
endsnippet

snippet span#
<span id="$1">$2</span>
endsnippet
